#root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* To create three columns */
  gap: 20px;
  padding: 20px;
  color: rgb(25, 3, 3);
}

#root div {
  border: 1px solid #340909;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9e0e0;
}

.main-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #582929;
}

body {
  background-color: #dfd0d0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
