#root {
  display: grid;
  grid-template-columns: 2fr 2fr; /* Two columns */
  gap: 20px;
  padding: 20px;
  color: rgb(25, 3, 3);
}
#root div {
  border: 1px solid #cac0c0;
  padding: 15px;
  border-radius: 8px;
  background-color: #dcd6d6;
}
